.row
  .col-12
    =render 'questions/question', question: @question

    %h5 You can answer the survey by clicking on one of the boxes below.
    %p You can also re-select an answer by clicking on a different box at any time.


    =link_to add_or_update_response_path(@question, 'yes'), method: :post  do
      %div{class: @user_answer == true ? 'yes-box' : 'undecided-box'}
        YES

    =link_to add_or_update_response_path(@question, 'no'), method: :post do
      %div{class: @user_answer == false ? 'no-box' : 'undecided-box'}
        NO

%br/
.row
  .col-12
    =link_to 'Back to all surveys', root_path
